---
import Layout from '../layouts/Layout.astro';

import { getContent } from '../services/airtable';

import configs from '../configs';

const { seoTitle, seoDescription, title, body } = await getContent("404");
const { STYLE: {CLASSNAME} } = configs;
---

<Layout title={seoTitle} description={seoDescription}>
	<main class={CLASSNAME.MAIN_TAG}>
      <h2 class={CLASSNAME.TITLE}>{title}</h2>
      <p class={CLASSNAME.TEXT}>{body}</p>
      <a href="/" class={CLASSNAME.HOME_BUTTON}>Home</a>
	</main>
</Layout>
