---
import Layout from '../layouts/Layout.astro';
import PhoneIcon from '../icons/phone';
import MailIcon from '../icons/mail';

import { getContent, getCredentials} from '../services/airtable';

const { seoTitle, seoDescription, title, body } = await getContent("home");
const { phone, email } = await getCredentials();
---

<Layout title={seoTitle} description={seoDescription}>
	<main class="flex flex-row">
      <div class="w-2/4">
        <h2 class="text-5xl my-8">{title}</h2>
        <p class="text-1xl font-semibold my-8">{body}</p>
        <p class="m-14"><a href="/quote" class="rounded-md bg-brown text-white p-6">Request a quote</a></p>
      </div>
      <ul >
        <li class="flex flex-row"><PhoneIcon /><a href={`tel:${phone}`} class="text-7xl font-semibold p-2 hover:underline">{phone}</a></li>
        <li class="flex flex-row"><MailIcon /><a href={`mailto:${email}`} class="text-7xl font-semibold p-2 hover:underline">{email}</a></li>
      </ul>
	</main>
</Layout>
