---
import Layout from '../layouts/Layout.astro';
import PhoneIcon from '../icons/phone';
import MailIcon from '../icons/mail';

import configs from '../configs';

import { getContent, getCredentials } from '../services/airtable';

const { seoTitle, seoDescription, title, body } = await getContent('home');
const { phone, email } = await getCredentials();

const {
  STYLE: { CLASSNAME },
} = configs;
---

<Layout title={seoTitle} description={seoDescription}>
  <main class={CLASSNAME.FLEX.COLUMN}>
    <h2 class={CLASSNAME.TITLE}>{title}</h2>
    <p class={CLASSNAME.TEXT}>{body}</p>
    <ul>
      <li class={CLASSNAME.FLEX.ROW}>
        <PhoneIcon /><a href={`tel:${phone}`} class={CLASSNAME.CONTACT}
          >{phone}</a>
      </li>
      <li class={CLASSNAME.FLEX.ROW}>
        <MailIcon /><a href={`mailto:${email}`} class={CLASSNAME.CONTACT}
          >{email}</a>
      </li>
    </ul>
    <p class="m-14">
      <a href="/quote" class={CLASSNAME.QUOTE_BUTTON}>Request a quote</a>
    </p>
  </main>
</Layout>
