---
import Layout from '../layouts/Layout.astro';
import { getContent, getCredentials} from '../services/airtable';

const { seoTitle, seoDescription, title, body } = await getContent("home");
const { phone, email } = await getCredentials();
---

<Layout title={seoTitle} description={seoDescription}>
	<main>
      <h2>{title}</h2>
      <p>{body}</p>
    <aside>
      <p>{phone}</p>
      <p>{email}</p>
    </aside>
	</main>
</Layout>
