---
import Layout from "../layouts/Layout.astro";

import configs from "../configs";
import { getContent } from '../services/airtable';

const { STYLE: {CLASSNAME }} = configs;  
const { seoTitle, seoDescription, title, body } = await getContent("termsAndConditions");
---

<Layout title={seoTitle} description={seoDescription}>
  <main class={CLASSNAME.MAIN_TAG}>
      <h2 class={CLASSNAME.TITLE}>{title}</h2>
      <p class={`${CLASSNAME.TEXT} max-w-xl`}>{body}</p>
  </main>
</Layout>
