---
export interface Props {
	label: string;
	placeholder?: string;

}
const { label, placeholder } = Astro.props;
const slug = label.toLowerCase().split(' ').join('-');
---
<label for={slug}>{label}</label>
<input type="text" id={slug} name={slug} placeholder={placeholder} required>
